<h1>結婚申請</h1>
<!-- <form name="myForm" onclick="propose(address)" method="post">
Address:
<input type="text" name="address">
<input type="submit" value="Submit">
</form>
 -->
<button onclick="propose('0x3633D07CCFe6d719D35502040944db709B842767')">プロポーズ</button>

<form>
    <label for="textForm">結婚を申請する相手のETHアドレス</label>
    <input type="text" id="textForm">

    <button id="button">結婚申請</button>
</form>

<label for="resultForm">取得した値: </label>
<input type="text" id="resultForm">

<script>
// ボタンの要素を取得
var button = document.getElementById("button");

// ボタンをクリックした時の処理
button.addEventListener("click", function(e) {

    e.preventDefault();

    // 入力フォームの値を取得
    var textForm = document.getElementById("textForm").value;

    // 取得した値を別の入力フォームに表示
    var resultForm = document.getElementById("resultForm");
    resultForm.value = textForm;
    console.log(userAccount,resultForm.value);
    propose(resultForm.value);
});

</script>
<!--
<div id="sample">1</div>
<div id="sampleButton">
    <button onclick="funcAdd1()">１を足す</button>
    <button onclick="funcAdd2()">２を足す</button>
</div> -->
