<!-- <form name="myForm" onclick="propose(address)" method="post">
Address:
<input type="text" name="address">
<input type="submit" value="Submit">
</form>
 -->
<!-- <button onclick="propose('0x3633D07CCFe6d719D35502040944db709B842767')">プロポーズ</button> -->
<!--参考 https://joyplot.com/documents/2017/07/26/javascript-%E3%83%95%E3%82%A9%E3%83%BC%E3%83%A0-%E6%95%B0%E5%80%A4-%E5%8F%96%E5%BE%97/ -->
<div>
  <h2>婚約申請</h2>
  <p>ここで婚約を相手に申請できます</p>
  <form>
      <label for="pertnerAddress">婚約したい相手のETHアドレス</label>
      <input type="text" id="pertnerAddress">
      <button id="proposeButton">婚約申請</button>
  </form>
</div>
<h2>婚約申請履歴確認</h2>
  <p>婚約申請履歴を確認できます</p>
  <form>
    <label for="checkProposeAddress">婚約申請履歴を確認したい人のETHアドレス</label>
    <input type="text" id="checkProposeAddress">
    <button id="checkProposeButton">婚約申請履歴確認</button>
  </form>
<div>
  <h2>婚約成立確認</h2>
    <p>婚約を確認したい二人のETHアドレスを入力してください。</p>
    <form>
      <label for="firstAddress">１人目ののETHアドレス</label>
      <input type="text" id="firstAddress"><br>
      <label for="secondAddress">２人目のETHアドレス</label>
      <input type="text" id="secondAddress"><br>
      <button id="checkEngagementButton">婚約確認</button>
    </form>
</div>
<div>
  <br>
  <br>
  <p>開発用参考アドレス</p>
  <p>0x40dea50302f41b7b695135b588b1ce2b5834ccd3</p>
  <p>0x3633D07CCFe6d719D35502040944db709B842767</p>
</div>

<!--
<label for="resultForm">取得した値: </label>
<input type="text" id="resultForm"> -->

<script>
//婚約申請
  // ボタンの要素を取得
  var proposeButton = document.getElementById("proposeButton");
  // ボタンをクリックした時の処理
  proposeButton.addEventListener("click", function(e) {
      e.preventDefault();
      // 入力フォームの値を取得
      var pertnerAddress = document.getElementById("pertnerAddress").value;
      // 取得した値を別の入力フォームに表示
      // var resultForm = document.getElementById("resultForm");
      // resultForm.value = textForm;
      console.log(userAccount,pertnerAddress);
      propose(pertnerAddress);
  });

//婚約成立確認
  // ボタンの要素を取得
  var checkEngagementButton = document.getElementById("checkEngagementButton");
  // ボタンをクリックした時の処理
  checkEngagementButton.addEventListener("click", function(e) {
      e.preventDefault();
      // 入力フォームの値を取得
      var firstAddress = document.getElementById("firstAddress").value;
      var secondAddress = document.getElementById("secondAddress").value;
      // 取得した値を別の入力フォームに表示
      // var resultForm = document.getElementById("resultForm");
      // resultForm.value = textForm;
      console.log(firstAddress,secondAddress);
      checkEngagement(firstAddress,secondAddress);
  });

</script>
<!--
<div id="sample">1</div>
<div id="sampleButton">
    <button onclick="funcAdd1()">１を足す</button>
    <button onclick="funcAdd2()">２を足す</button>
</div> -->
