<h1>結婚申請</h1>
<!-- <form name="myForm" onclick="propose(address)" method="post">
Address:
<input type="text" name="address">
<input type="submit" value="Submit">
</form>
 -->
<button onclick="propose('0x3633D07CCFe6d719D35502040944db709B842767')">プロポーズ</button>

<form name="myform">
  <input name="mytext" type="text" />
  <button id="btn">婚約申請</button>
</form>
<script>
  var btn = document.getElementById('btn');

  btn.addEventListener('click', function() {
    if (document.myform.mytext.value) {
      alert(document.myform.mytext.value+"に婚約を申請しますか？");
      propose(document.myform.mytext.value);
    } else {
      alert("結婚を申請する相手のイーサリアムアドレスを入力してください");
    }
  })
</script>
<!--
<div id="sample">1</div>
<div id="sampleButton">
    <button onclick="funcAdd1()">１を足す</button>
    <button onclick="funcAdd2()">２を足す</button>
</div> -->
