<h1>index</h1>
<form name="myForm" onclick="propose()" method="post">
Address:
<input type="text" name="address">
<input type="submit" value="Submit">
</form>

<button onclick="propose('0x3633D07CCFe6d719D35502040944db709B842767')">プロポーズ</button>

<div id="sample">1</div>
<div id="sampleButton">
    <button onclick="funcAdd1()">１を足す</button>
    <button onclick="funcAdd2()">２を足す</button>
</div>
